.gradle
.idea
build
test_store.ttl
test_store
sample*.json
calendar*.json
*.json
*.timeline
*.xml
*.png
*.xes
crawljax_out
*.csv
*.db
*.bin
*.lnk
!firefox_profile/extension-preferences.json
*.imscc
*.db-journal
*.xpi
*.state
*.txt
*.html
neo4j-logs/*
neo4j-plugins/*
!neo4j-plugins/.gitkeep
!neo4j-logs/.gitkeep
test_task
test_task_results
execution_events
config/snippet2xml.yaml
config/dataentry2label.yaml
config/taskplanner.yaml
libs/jsoup-1.19.1-SNAPSHOT.jar