.gradle
.idea
build
test_store.ttl
test_store
sample*.json
calendar*.json
*.json
*.timeline
*.xml
*.png
*.xes
crawljax_out
*.csv
*.db
*.bin
*.lnk
!firefox_profile/extension-preferences.json
*.imscc
*.db-journal
*.xpi